@import "tailwindcss";

:root,
:root[data-mode="light"] {
  --main-bg: 241 245 249;
  --header-bg: 255 255 255;
  --text-header: 30 41 59;
  --icon-color: 100 116 139;
  --bg-color: 255 255 255;
}

:root[data-mode="dark"] {
  --main-bg: 17 24 39;
  --header-bg: 36 42 56;
  --text-header: 255 255 255;
  --icon-color: 255 255 255;
  --bg-color: 17 24 39;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vazirmatn), sans-serif;
}


/* Vanilla CSS for flip card */
.card { perspective: 1000px;}
.card__content {transform-style: preserve-3d;}
.card:hover .card__content {transform: rotateY(180deg);}

.card__front,
.card__back { backface-visibility: hidden;}
.card__back{ transform: rotateY(180deg);}
